<h1>Edit Place:</h1>
<form class="" action="/destination/<%=@destination.id%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <br>
    <ul>
      <li><label for="city">City:</label> <input type="text" name="city" value= "<%= @destination.city %>"></li>
      <li><label for="country">Country:</label> <input type="text" name="country" value= "<%= @destination.country %>"></li>
      <li><label for="rating">Rating:</label> <input type="text" name="rating" value= "<%= @destination.rating %>"></li>
      <li><label for="description">Favorite Memory:</label> <input type="text" name="description" value= "<%= @destination.description %>"></li>
    </ul>
  <br>

  <input type="submit" value="Edit">
</form>
<form class="" action="/destination/<%= @destination.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete">
</form>
