<h1>destination edit page</h1>

<form method="post" action="/destination/<%= current_user.id %>">
  <input type="hidden" name="_method" value="patch">

<% current_user.destinations.each do |x| %>
<hr>
<br>
  <ul>
    <li>City: <input type="text" name="city" value= "<%= "#{x.city}" %>"></li>
    <li>Country: <input type="text" name="country" value= "<%= "#{x.country}" %>"></li>
    <li>Rating: <input type="text" name="rating" value= "<%= "#{x.rating}" %>"></li>
    <li>Favorite Memory: <input type="text" name="description" value= "<%= "#{x.description}" %>"></li>
  </ul>
<br>

<% end %>
<input type="submit" id="submit" value="Edit">
</form>
