<h2>List of Places</h2>

<br>Click a place to edit.
<br>
<% current_user.destinations.each do |x| %>
<hr>
<h4><a href="/destination/<%= x.id %>/edit">Edit</a></h4>
<br>
  <ul>
    <li>City: <%= "#{x.city}" %></li>
    <li>Country: <%="#{x.country}"%></li>
    <li>Rating: <%= "#{x.rating}" %></li>
    <li>Favorite Memory: <%= "#{x.description}" %></li>
  </ul>
<br>
<% end %>
