<h1>destination show page</h1>


<form method="post" action="/destination/<%=current_user.id%>/edit">

<% current_user.destinations.each do |x| %>
<hr>
<br>
  <ul>
    <li>City: <input type="text" name="new_city" value="<%= "#{x.city}" %>"></li>
    <li>Country: <%="#{x.country}"%></li>
    <li>Rating: <%= "#{x.rating}" %></li>
    <li>Favorite Memory: <%= "#{x.description}" %></li>
  </ul>
<br>

<% end %>
</form>
