<h1>Destination #<%= @destination.id %> by <%= @user.username %></h1>

<form action="/destination/<%=@destination.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete Tweet">
</form>
<p>
  <a href="/tweets/<%=@destination.id%>/edit">Edit Tweet</a>
</p>
<p><%= @destination.city %></p>
