<h1>Welcome <%= current_user.username %>,</h1>

<h3>Here lives all the places you have ever visited...</h3>

<% if logged_in? %>
<p>Are you a world class traveler? Add more places!
  <br>
  <br><a href="/destination/new">Add Place</a>
  <br><a href="/destination">View List Places</a>
  <br><a href="/logout">Logout</a>
  <br>
  <% end %>

<% current_user.destinations.each do |x| %>
<hr>
<br>
  <ul>
    <li>City: <%= "#{x.city}" %></li>
    <li>Country: <%="#{x.country}"%></li>
    <li>Rating: <%= "#{x.rating}" %></li>
    <li>Favorite Memory: <%= "#{x.description}" %></li>
  </ul>
<br>

<% end %>
