<h1>Welcome <%= current_user.username %>,</h1>

<h2>Here lies all the places you have ever visited...</h2>
<form method="POST" action="/destination/new">
  <p>Are you a world class traveler? Add more places! <input type="submit" id="submit" value="New Destination"></p>
</form>
<form action="/destination/<%= current_user.id %>/edit">
    <input type="submit" value="Edit">
</form>
<form action="/logout">
    <input type="submit" value="Logout" />
</form>

<% current_user.destinations.each do |x| %>
<hr>
<br>
<p><%= "#{x.city}" %></p>
<p><%="#{x.country}"%></p>
<p><%= "#{x.rating}" %></p>
<p><%= "#{x.description}" %></p>
<br>

<% end %>
